@font-face {
    font-family: "Engebrechtre_Ex_Bd";
    src: url("font/Engebrechtre_Ex_Bd.otf") format("truetype");}
@font-face {
    font-family:"Beckman-FREE";
    src: url("font/Beckman-FREE.otf") format("truetype");
}

body{
    background-color: #03045e;
}

h1{
    padding: 20px;
    text-align: center;
    color: #caf0f8;
    font-family: "Engebrechtre_Ex_Bd";
    font-size: 50px;
    font-stretch: 80%;
}

#converter_box{
    width: 350px;
    margin:30px auto;
    padding:5% 5%;
    background-color: white;
    text-align: left;
    color: black;
    font-size: 10px;
    font-family: "Beckman-FREE";
    border-radius: 50px;
}


#amount_box, #to_currency_box{
    display: flex; 
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    padding:10px;
    margin:30px;
}

#from_amount_div, #to_amount_div {
    display: flex;
    margin-bottom: 5px;
    margin-right: 5px;
    align-items: right;}


#from_amount{
    display:none property;
    width: 70%;
    font-size: 20px;
    box-align:left;
    padding:5px;
    border:none;
    outline:none;
    background: transparent;
    appearance: none;
  -webkit-appearance: none;   /* Chrome/Safari */
}
#result {
    display:none property;
    width: 70%;
    font-size: 20px;
    box-align:left;
    padding:5px;
    border:none;
    outline:none;
    background: transparent;
    appearance: none;
  -webkit-appearance: none;   /* Chrome/Safari */
}
#symbol_and_unit_from{
    display: flex;
    flex-direction: row;
    align-items: right;
    width: 30%;
}
#symbol_and_unit_to{
    display: flex;
    flex-direction: row;
    align-items: right;
    width: 30%;
}
#from_unit,#to_unit{
    display: inline-block;
    width:60%;
    font-size:25px;
    font-family: "Beckman-FREE";
    text-align: left;}

#from_unit_img, #to_unit_img{
    display: inline-block;
    width: 40%;
    text-align: right;
    vertical-align: middle;}
